h1 {
    color: whitesmoke;
}

body {
    background-color: black;
    background-image:url("img/2.jpg");
   }
}
.form-container {
  width: 400px;
  background: linear-gradient(whitesmoke,  #40c9ff) padding-box,
  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  padding: 10px 15px;
  font-size: 14px;
  font-family: inherit;
  color: skyblue;
  box-sizing: border-box;
  border-radius: 16px; 
  }
  
  .form-container .form-group input {
    color: #fff;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid skyblue;
  }
  
  .form-container .{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #717171;
    font-weight: 600;
    width: 40%;
    background: #skyblue;
    border: 1px solid #skyblue;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
  }
  
  button {
 --glow-color: rgb(2, 176, 200);
 --glow-spread-color: rgba(1, 12, 200, 1);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(1, , 136);
 border: .25em solid var(--glow-color);
 padding: 1em 3em;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}
