/* CSS untuk form registrasi */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin: 0 auto;
}

form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input[type="text"], form input[type="password"] {
    width: calc(100% - 10px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #0056b3;
}
